$accentColor = #3780f7
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile shell

.page p img
  display: block
  margin: 0 auto

.theme-default-content:not(.custom)
.page-edit
.page-nav
  max-width: 900px

.vuepress-flowchart
  overflow: auto

.home
  min-height: 100vh
  box-sizing: border-box
  display: flex
  flex-direction: column

.home .theme-default-content.custom
  flex: 1
  position: relative
  padding-bottom: 100px

.home .theme-default-content.custom footer
  position: absolute
  bottom: 0
  left: 0
  right: 0

